<li>
    {{burger_name}}

    <button class="devour-burger" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#unless devoured}}Your Order!!{{else}}Order again?!{{/unless}}
    </button>

</li>